<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>403 Forbidden</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Squada+One'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:500,600'>
    <link rel="stylesheet" href="./style.css">

  </head>

  <body>
    <!-- partial:index.partial.html -->
    <p>Welcome to 403:</p>
    <h1>Forbidden resource</h1>
    <p>The server understood the request but refuses to authorize it.</p>
    <p>Oops! Page Not Found 😱
      Looks like you’ve ventured off the map! 🗺️✨<br>

      Here are a few things you can do:<br>
      Go back to the Home Page 🏠<br>
      Search for what you need: 🔍<br>
      Check out our Latest Articles 📰<br>
      Feeling Lost? 😕<br>
      Don’t worry, we’ll help you find your way!<br>

      👉 Contact Support for assistance 🤝<br>

      Meanwhile, enjoy a little joke:<br>
      Why don’t skeletons fight each other? 🤔<br>
      They don’t have the guts! 😆💀</p>
    <!-- partial -->
    <script src="./script.js"></script>
    <footer>
      <a href="https://github.com/abhisek2004">@ Created and Design By Abhisek Panda</a>
    </footer>
  </body>

</html>