<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Appointment</title>
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/appointment.css">
    </head>

    <body>
        <section class="header">
            <!-- <nav class="navbar navbar-expand-lg bg-primary sticky-navbar" data-bs-theme="dark"> -->
            <nav class="navbar navbar-expand-lg sticky-navbar" style="background-color: #00637f;" data-bs-theme="dark">

                <div class="container-fluid">
                    <!-- Add the logo here -->
                    <a class="navbar-brand" href="#">
                        <img src="../static/images/delhi.png" alt="Delhi Logo" class="rounded-circle" width="40"
                            height="40">
                    </a>
                    <h3 class="mehran">Government of NCT of Delhi</h3>
                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav ms-auto justify-content-end navbar1">
                            <li class="nav-item mr-3">
                                <a class="nav-link text-light" href="/">Home</a>
                            </li>
                            <li class="nav-item mr-3">
                                <a class="nav-link text-light" href="/templates/user login.html">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </section>
        <!-- End of Navigation Bar -->
        <!-- Appointment  -->
        <div class="container appointment">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-data">
                        <div class="form-head">
                            <h2>Book Appointment</h2>
                        </div>
                        <form method="post" action="/appointment">
                            <div class="form-body">
                                <div class="mb-3">
                                    <label for="nameInput" class="form-label">Full Name</label>
                                    <input type="text" id="nameInput" placeholder="Enter Full Name" name='name'
                                        class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="numberInput" class="form-label">Mobile Number</label>
                                    <input type="text" id="numberInput" placeholder="Enter Mobile Number" name='number'
                                        class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="emailInput" class="form-label">Email Address</label>
                                    <input type="text" id="emailInput" placeholder="Enter Email Address" name='email'
                                        class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="addressInput" class="form-label">Address</label>
                                    <input type="text" id="addressInput" placeholder="Enter Your Address" name='Address'
                                        class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="dateInput" class="form-label">Appointment Date</label>
                                    <input type="date" id="dateInput" name='dat' class="form-control">
                                </div>
                                <!-- Time Slot Selection in 24-hour Format -->

                                <div class="mb-3">
                                    <label for="timeSlot">Select Time Slot:</label>
                                    <select id="timeSlot" name='timeSlot' class="form-control">
                                        <option value="" disabled selected>Select a time slot</option>
                                        <option value="08:00 - 09:00">08:00 - 09:00</option>
                                        <option value="09:00 - 10:00">09:00 - 10:00</option>
                                        <option value="10:00 - 11:00">10:00 - 11:00</option>
                                        <option value="11:00 - 12:00">11:00 - 12:00</option>
                                        <option value="12:00 - 13:00">12:00 - 13:00</option>
                                        <option value="13:00 - 14:00">13:00 - 14:00</option>
                                        <option value="14:00 - 15:00">14:00 - 15:00</option>
                                        <option value="15:00 - 16:00">15:00 - 16:00</option>
                                        <option value="16:00 - 17:00">16:00 - 17:00</option>
                                        <option value="17:00 - 18:00">17:00 - 18:00</option>
                                        <option value="18:00 - 19:00">18:00 - 19:00</option>
                                        <option value="19:00 - 20:00">19:00 - 20:00</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="diseaseInput">Select Speciality:</label>
                                    <select id="diseaseInput" name='diseaseInput' class="form-control">
                                        <option value="" disabled selected>Select an option</option>
                                        <option value="Medicine">Medicine</option>
                                        <option value="orthopedic">Orthopedic</option>
                                        <option value="mental_health">Mental Health</option>
                                        <option value="cardiology">Cardiology</option>
                                        <option value="cancer">Cancer</option>
                                        <option value="covid-19">COVID-19</option>
                                        <option value="dermatology">Dermatology</option>
                                        <option value="dentistry">Dentistry</option>
                                        <option value="neurology">Neurology</option>
                                        <option value="pediatrics">Pediatrics</option>
                                        <option value="infectious_diseases">Infectious Diseases</option>
                                        <option value="ent">ENT (Otolaryngology)</option>
                                        <option value="plastic_surgery">Plastic Surgery</option>
                                        <option value="radiology">Radiology</option>
                                        <option value="pulmonology">Pulmonology</option>
                                        <option value="gastroenterology">Gastroenterology</option>
                                    </select>
                                </div>

                                <!-- Time Slot Selection -->
                                <div class="mb-3">
                                    <label for="diseaseDescription">Description Disease:</label>
                                    <input type="text" placeholder="Enter Disease Description" name='diseaseDescription'
                                        class="form-control">
                                </div>
                                <div class="mb-3 d-flex justify-content-center">
                                    <button class="btn btn-success btn-appointment" type="submit">Book
                                        Appointment</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="../static/js/script.js">
        </script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/script.js"></script>
    </body>

</html>