<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Booking Successful</title>
        <link rel="stylesheet" href="../static/css/success_admin.css">
    </head>

    <body>
        <div class="success-container">
            <h1>Booking Successful!</h1>
            <p>Patient added successfully.</p>

            <a href="/admin" class="back-button">Back to Admin</a>
        </div>
    </body>
    <script>
        // Display the bed number from the previous booking page
        const urlParams = new URLSearchParams(window.location.search);
        const bedNumber = urlParams.get('bed');
        document.getElementById('bed-number').innerText = bedNumber || "N/A";
    </script>
    <script src="../static/js/success_admin.js"></script>

</html>