<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OPD Bed Booking</title>
        <link rel="stylesheet" href="../static/css/styles_opd_user.css">
        <link rel="icon" href="#" type="image/png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <style>
            body {
                background-image: url('../opd/static/images/Surgery.jpg');
            }
        </style>
    </head>

    <body>
        <nav class="navbar">

            <a href="index.html" class="nav-link">Casual</a>
            <a href="Surgery.html" class="nav-link">Surgery</a>
            <a href="Emergency.html" class="nav-link">Emergency</a>
        </nav>

        <div class="container">
            <h1><i class="fa-solid fa-bed"></i> Surgery Bed Booking</h1>
            <div class="bed-selection">
                <!-- Loop for 50 beds with bed numbers -->
                <div class="row">
                    <div class="bed" data-bed="1"><span>1</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="2"><span>2</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="3"><span>3</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="4"><span>4</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="5"><span>5</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="6"><span>6</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="7"><span>7</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="8"><span>8</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="9"><span>9</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="10"><span>10</span><i class="fa-solid fa-bed"></i></div>
                </div>
                <div class="row">
                    <div class="bed" data-bed="11"><span>11</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="12"><span>12</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="13"><span>13</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="14"><span>14</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="15"><span>15</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="16"><span>16</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="17"><span>17</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="18"><span>18</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="19"><span>19</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="20"><span>20</span><i class="fa-solid fa-bed"></i></div>
                </div>
                <div class="row">
                    <div class="bed" data-bed="21"><span>21</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="22"><span>22</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="23"><span>23</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="24"><span>24</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="25"><span>25</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="26"><span>26</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="27"><span>27</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="28"><span>28</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="29"><span>29</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="30"><span>30</span><i class="fa-solid fa-bed"></i></div>
                </div>
                <div class="row">
                    <div class="bed" data-bed="31"><span>31</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="32"><span>32</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="33"><span>33</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="34"><span>34</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="35"><span>35</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="36"><span>36</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="37"><span>37</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="38"><span>38</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="39"><span>39</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="40"><span>40</span><i class="fa-solid fa-bed"></i></div>
                </div>
                <div class="row">
                    <div class="bed" data-bed="51"><span>41</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="52"><span>42</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="53"><span>43</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="54"><span>44</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="55"><span>45</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="56"><span>46</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="57"><span>47</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="58"><span>48</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="59"><span>49</span><i class="fa-solid fa-bed"></i></div>
                    <div class="bed" data-bed="50"><span>50</span><i class="fa-solid fa-bed"></i></div>
                </div>
                <!-- Repeat this row block until 50 beds are added -->
            </div>
        </div>
        <script src="../opd/static/js/script.js"></script>
    </body>

</html>