<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" id="home">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMS</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min (1).css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <style>
        /* Style for the dropdown menu */
        .dropdown-menu {
            background-color: #343a40;
            /* Background color */
        }

        /* Style for the dropdown menu items */
        .dropdown-item {
            color: #ffffff;
            /* Text color */
        }

        /* Style for the dropdown menu items on hover */
        .dropdown-item:hover {
            background-color: #495057;
            /* Background color on hover */
        }

        /* Style for the dropdown toggle (Login text) */
        .dropdown-toggle::after {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
        }

        #logoutButton:hover {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <section class="header">
        <nav class="navbar navbar-expand-lg bg-primary sticky-navbar" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <div class="logo">
                        <h4>SCB</h4>
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h3 class="mehran">Srirama Chandra Bhanja Medical</h3>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav ms-auto justify-content-end navbar1 text-light">
                        <li class="nav-item mr-3">
                            <a class="nav-link text-light" href="#carousel">Home

                            </a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link text-light" href="#about">About Us</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link text-light" href="#doctors">Doctors</a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link text-light" href="#about">Departments</a>
                        </li>

                        <li class="nav-item mr-3">
                            <a class="nav-link text-light" href="#contact">Contact Us </a>
                        </li>

                        <li class="nav-item dropdown mr-3">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Login
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/login">User Login</a>
                                <a class="dropdown-item" href="/doctor">Doctor Login</a>
                                <!-- <a class="dropdown-item" href="/admin">Admin Login</a> -->
                            </div>
                        </li>
                        <li class="nav-item mr-3">
                            <a id="logoutButton" class="nav-link text-light">Logout</a>
                        </li>
                    </ul>
                </div>

            </div>
            </div>
        </nav>
    </section>
    <!-- HOME SECTION  -->
    <section class="carousel" id="carousel">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../static/images/scb3.png" alt="Los Angeles" class="d-block" style="width:100%">
                    <div class="carousel-caption">
                        <h3>Srirama Chandra Bhanja Medical</h3>
                        <p>We had such a great time to care.</p>

                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" id="submit1" class="btn btn-info submit">Create
                                Appointment</button>
                        </div>
                        <!-- 
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-info" id="userApp">View Appointment</button>
                        </div> -->
                    </div>

                </div>
                <div class="carousel-item">
                    <img src="../static/images/scb2.png" alt="Chicago" class="d-block" style="width:100%">
                    <div class="carousel-caption">
                        <h3>Srirama Chandra Bhanja Medical</h3>
                        <p>We should care the people</p>

                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" id="submit2" class="btn btn-info submit">Create
                                Appointment</button>
                        </div>

                        <!-- <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-info" id="userApp">View Appointment</button>
                        </div> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../static/images/scb1.png" alt="New York" class="d-block" style="width:100%">
                    <div class="carousel-caption">
                        <h3>Srirama Chandra Bhanja Medical</h3>
                        <p>We should love own health</p>

                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" id="submit3" class="btn btn-info submit">Create
                                Appointment</button>
                        </div>

                        <!-- <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-info" id="userApp">View Appointment</button>
                        </div> -->
                    </div>

                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </section>

    <!-- About us option start -->
    <section class="about" id="about">
        <div class="container">
            <h2>About Us</h2>
            <p align="center">SCB Medical College & Hospital is one of the oldest and largest in the country.
                Established in the pre-independence era, it still continues it’s saga of serving the people of the State
                and outside by providing free medical services to one and all. The College has been the Alma Mater of
                many stalwarts of the medical fraternity across the world and continues to produce more than 2000
                trained medical and paramedical professionals every year.</p>
            <h3 align="center">Our Departments</h3>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/images/Cardiology.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>Cardiology:</h4>
                            <p class="card-text">Specializing in heart-related issues.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/images/Orthopedics.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>Orthopedics:</h4>
                            <p class="card-text">Dealing with bone and joint problems.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/images/Pediatrics.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>Pediatrics</h4>
                            <p class="card-text">Focusing on child healthcare</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/images/Neurosurgery.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>Neurosurgery:</h4>
                            <p class="card-text">Specializing in brain and nervous system surgeries.</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/images/Internal Medicine.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>Internal Medicine:</h4>
                            <p class="card-text">Providing general medical care.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <img src="../static/images/Pharmacy.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4>Pharmacy</h4>
                            <p class="card-text"> Dispensing medications..</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Doctor Sections  -->
    <section class="doctors" id="doctors">
        <div class="container text-center">
            <h1 class="font-weight-bold text-light">Our Doctors</h1>
            <p>Our mission is to develop and deliver a comprehensive, user-friendly, and secure hospital management
                system that integrates seamlessly with the daily operations of healthcare institutions.</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="card text-center">
                        <div class="card-header">Dr. anita panda- Pediatrician</div>
                        <div class="card-body"
                            style="height: 220px; display: flex; align-items: center; justify-content: center;">
                            <img src="../static/images/Amina Khan.jpg" alt="Dr. Amina Khan"
                                style="max-width: 100%; max-height: 100%; object-fit: contain;">
                        </div>
                        <div class="card-footer">
                            <p>Specializes in children's health.</p>
                        </div>
                    </div>
                </div>



                <div class=" col-lg-4 col-12">
                    <div class="card  text-center">
                        <div class="card-header">Dr. Ankush Mishra - Cardiologist</div>
                        <div class="card-body"
                            style="height: 220px; display: flex; align-items: center; justify-content: center;">
                            <img src="../static/images/cardiologist.png" alt="Dr. Amina Khan"
                                style="max-width: 100%; max-height: 100%; object-fit: contain;">
                        </div>
                        <div class="card-footer">
                            <p>Specializes focuses on heart health.</p>
                        </div>
                    </div>
                </div>



                <div class=" col-lg-4 col-12">
                    <div class="card  text-center">
                        <div class="card-header">Dr. Parshuram Sahoo - Orthopedic Surgeon</div>
                        <div class="card-body"
                            style="height: 220px; display: flex; align-items: center; justify-content: center;">
                            <img src="../static/images/parshu.png" alt="Dr. Amina Khan"
                                style="max-width: 100%; max-height: 100%; object-fit: contain;">
                        </div>
                        <div class="card-footer">
                            <p> Specializes in bone and joint issues.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class=" row">
                <div class="col-lg-4 col-12">
                    <div class="card  text-center">
                        <div class="card-header">Dr Smriti mandana -</div>
                        <div class="card-body"
                            style="height: 220px; display: flex; align-items: center; justify-content: center;">
                            <img src="../static/images/smriti.png" alt="Dr. Amina Khan"
                                style="max-width: 100%; max-height: 100%; object-fit: contain;">
                        </div>
                        <div class="card-footer">
                            <p> Specializes Malik helps with mental health.</p>
                        </div>
                    </div>
                </div>


                <div class=" col-lg-4 col-12">
                    <div class="card  text-center">
                        <div class="card-header">Dr. Amaresh panda -
                            Family Medicine Practitioner</div>
                        <div class="card-body"
                            style="height: 220px; display: flex; align-items: center; justify-content: center;">
                            <img src="../static/images/amaresh.png" alt="Dr. Amina Khan"
                                style="max-width: 100%; max-height: 100%; object-fit: contain;">
                        </div>
                        <div class="card-footer">
                            <p>provides general healthcare for
                                families.</p>

                        </div>
                    </div>
                </div>



                <div class=" col-lg-4 col-12">
                    <div class="card  text-center">
                        <div class="card-header">Dr.
                            Mohammed Hassan</div>
                        <div class="card-body"
                            style="height: 220px; display: flex; align-items: center; justify-content: center;">
                            <img src="../static/images/Mohammed Hassan.avif" alt="Dr. Amina Khan"
                                style="max-width: 100%; max-height: 100%; object-fit: contain;">
                        </div>
                        <div class="card-footer">
                            <p>focuses on digestive
                                health</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- Contact_US Start -->
    <section class="contacUs " id="contact">
        <div class="container heading text-center">
            <h1 class="text-center font-weight-bold">Contact US</h1>
            <p class="text-center  pt-1 text-align-left">We are here to help and answer any questions you night have you
                we
                Look farword to hearing from You
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-10 offset-lg-2 offset-md-2 offset-1">
                    <form method="post">
                        <div class="mb-3 mt-3">
                            <input type="text" class="form-control" id="name" required autocomplete="off"
                                placeholder="Enter Your Name" name="name">
                        </div>

                        <div class="mb-3">
                            <input type="email" class="form-control" id="email" placeholder="Enter Your Email"
                                name="email">
                        </div>

                        <div class="mb-3">
                            <input type="tel" class="form-control" id="number" placeholder="Enter Contact Number"
                                name="number">
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
                        </div>

                        <button type="submit" class="btn btn-info form-control com btn-outline-info">Submit</button>

                    </form>
                </div>
            </div>


        </div>

        </div>
    </section>

    <script>
        const submit1 = document.querySelector("#submit1");
        const submit2 = document.querySelector("#submit2");
        const submit3 = document.querySelector("#submit3");
        submit1.addEventListener("click", (e) => {
            name = localStorage.getItem('username')
            pass = localStorage.getItem("password")
            console.log(name);
            if (name && pass) {
                window.location.href = "/appointment";

            }
            else {
                window.location.href = "/login"
            }
        })
        submit2.addEventListener("click", (e) => {
            name = localStorage.getItem('username')
            pass = localStorage.getItem("password")
            console.log(name);
            if (name && pass) {
                window.location.href = "/appointment"
            }
            else {
                window.location.href = "/login"
            }
        })
        submit3.addEventListener("click", (e) => {
            name = localStorage.getItem('username')
            pass = localStorage.getItem("password")
            console.log(name);
            if (name && pass) {
                window.location.href = "/appointment"
            }
            else {
                window.location.href = "/login"
            }
        })


    </script>

    <script>
        const userLogin = document.querySelector("userApp");
        userLogin.addEventListener("click", (e) => {
            name = localStorage.getItem('username')
            pass = localStorage.getItem("password")
            console.log(name);
            if (name && pass) {
                window.location.href = "/user";

            }
            else {
                window.location.href = "/login"
            }
        })
    </script>



    <script>
        // Select the <li> element
        const logoutButton = document.getElementById('logoutButton');

        // Add event listener for click event
        logoutButton.addEventListener('click', logout);

        // Define the logout function
        function logout() {
            // Erase local storage data
            localStorage.clear();
            // Redirect or do any other necessary action
            // For example, redirect to login page

        }
    </script>

    <script src="../static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>