.appointment{
    margin-top: 120px;
}
.header .nav-link{
    color: #fff;
}
.custom-bg {
        background-color:#00637f;
}
bg-primary {
        background-color: #00637f;
}
body{
    background-color: #FFF3C7;
}