body {
    font-family: "Helvetica, Arial, sans-serif";
    margin: 0;
}

.admin h1{
    display: flex;
    justify-content: center;
    font-size: 32px;
}
.admin h5{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 0 10px 0;
    display: flex;
    justify-content: center;
}
.admin p{
    display: flex;
    justify-content: center;
    font-size: 29px;
}
.collapse  {
    float: right;
    padding-left: 140px;
    font-weight: bold; 
     }
.nav-item{
    padding: 4px 5px 0 22px;
} 
@media (max-width: 768px) {
    .admin h1 {
        font-size: 24px;
    }

    .admin h5 {
        font-size: 18px; 
        padding: 10px 0 5px 0;
    }

    .admin p {
        font-size: 22px; 
    }

    .collapse {
        float: none; 
        padding-left: 0;
    }

    .nav-item {
        padding: 4px 5px 0 0px;
    }
}
.custom-item {
    font-size: 16px; 
}
.my-icon {
    color:#fff;
    margin: 0 6px ;
  }
